/* Font Families
font-family: 'Josefin Sans', sans-serif;


/* General Styles */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

.clearfix::after {
  	clear: both;
  	content: "";
  	display: block;
  	height: 0;
  	visibility: hidden;
}

body {
	background-image: url("../images/background_splatter_0101.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


/* Logo */
.logolanding {
	padding-top: 26%;
	padding-left: 5%;
}

.logoheader {
	padding-top: 30px;
	display: none;
}



/* Header */
header {
	padding-left: 5%;	
}

nav {

}


/* main section*/
.maincontent {
	width: 100%;
	padding-top: 5%;
}


h2 {
	font-size: 60px;
	font-weight: 100;
	text-transform: uppercase;
	color: #545161; /*darkgrey*/
}

h3 {
	font-size: 40px;
	font-weight: 100;
	text-transform: uppercase;
	color: #545161; /*darkgrey*/
}

h4 {
	font-size: 30px;
	font-weight: 100;
}

p {
	font-size: 20px;
	font-weight: 100;
}



/*Top Nav Styles */
a.topnavitem {
	float:left;
	margin-right: 2%;
	padding: 40px 20px 10px 0px;

	font-size: 26px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	color: #525161; /*darkgrey*/
}

/*a:hover {
	font-size: 26px;
	font-weight: 600;
}*/


/* General side nav styles */
aside {
	float: left;
	padding-left: 5%;
	display: none;
}

a.sidenavitem {
	display: block;
	padding-bottom: 40px;
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	color: #525161; /*darkgrey*/
}

/*a:hover {
	font-size: 40px;
	font-weight: 600;
}*/





/*Work*/
.work {
	display: inline-block;
	padding-left: 5%;
}

.worktitle {
	padding-bottom: 15px;
}


/* Programs */
.skillset {
	display: inline-block;
	padding-left: 5%;
}

.skillslist {
	display: inline-block;
	padding-right: 30px;
}

ul {
	padding-top: 2%;
}

li {
	font-size: 30px;
	font-weight: 100;
	list-style-type: none;
}


