/* General */
aside {
	float: left;
	padding-left: 5%;
	/*background-color: blue;*/
}

a.sidenavitem {
	display: block;
	padding-bottom: 40px;
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	color: #525161; /*darkgrey*/
}

a:hover {
	font-size: 40px;
	font-weight: 600;
}


/* Logo */
.logoheader {
	padding-top: 30px;
}


/*Work*/
.work {
	display: inline-block;
	padding-left: 5%;
}

.worktitle {
	padding-bottom: 15px;
}


/* Programs */
.skillset {
	display: inline-block;
	padding-left: 5%;
}

.skillslist {
	display: inline-block;
	padding-right: 30px;
}

ul {
	padding-top: 2%;
}

li {
	font-size: 30px;
	font-weight: 100;
	list-style-type: none;
}


