/* General */
body {
	background-image: url("../images/samoportrait_purple_v2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/* Navigation */
a.topnavitem {
	float:left;
	margin-right: 2%;
	padding: 40px 20px 10px 0px;


	font-size: 26px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	color: #525161; /*darkgrey*/
}

a:hover {
	font-size: 26px;
	font-weight: 600;
}


/* Logo */
.logolanding {
	padding-top: 26%;
	padding-left: 5%;
}


