/*General Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


body {
	background: url("../images/web_background_bw.jpg");
	background-size: cover;
	background-repeat: none;
	height: 100%;
	width: 100%;
}


p,
label,
li {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

a {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 300;
	text-decoration: none;
	color: white;
}

li {
	list-style-type: none;
	line-height: 1.5em;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	color: grey;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 3em;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	color: grey;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size:	2em;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
	color: grey;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
}

h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
}

@media only screen and (max-width: 1024px){
	p,
	label,
	li {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 300;
	}

	a {
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		font-weight: 300;
		text-decoration: none;
		color: white;
	}

	li {
		list-style-type: none;
		line-height: 1.5em;
	}

	h1 {
		font-family: 'Lato', sans-serif;
		font-size: 2em;
		font-weight: 400;
		text-transform: uppercase;
		display: inline-block;
		color: grey;
	}

	h2 {
		font-family: 'Lato', sans-serif;
		font-size: 2em;
		font-weight: 400;
		text-transform: uppercase;
		display: inline-block;
		color: grey;
	}

	h3 {
		font-family: 'Lato', sans-serif;
		font-size:	1.5em;
		font-weight: 300;
		text-transform: uppercase;
		display: inline-block;
		color: grey;
	}

	h4 {
		font-family: 'Roboto', sans-serif;
		font-size: 2em;
		font-weight: 300;
		text-transform: uppercase;
		display: inline-block;
	}

	h5 {
		font-family: 'Roboto', sans-serif;
		font-size: 1.25em;
		font-weight: 300;
		text-transform: uppercase;
		display: inline-block;
	}

}


/*Generic Styling*/
.sidebyside {
	display: flex;
	justify-content: space-around;
}
.aboveandbelow {
	display: block;
}

.lefthere {
	float: left;
}

.rightthere{
	float: right;
	padding-right: 2%;
}

/*Header styles*/

.logo {
	color: black;
	padding-left: 2%;
}

header {
	position: fixed;
	display: block;
	padding-top: 10px;
	height: 75px;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	z-index: 1;
}

nav {
	display: none;
	width: 60%;
	height: 60px;
	padding-top: 10px;
}

.navitems {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	width: 120px;
	text-align: center;
	padding: 2%;
}

.navitems:hover {
	opacity: 0.5;
}

.hamburger {	
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 2;
  display: none;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
  margin: 2px 0;
}

@media only screen and (max-width: 1024px) {
	nav {
		display: none;
	}
	.hamburger {
		display: block;
	}

	.close-nav {
		padding-top: 20px;
	}

	.close-nav span {
		display: block;	
		width: 30px;
		height: 4px;
		background-color: #fff;
		transform: rotate(45deg) translate(2px);
		-webkit-transform: rotate(45deg) translate(2px);
		-moz-transform: rotate(45deg) translate(2px);
	}

	.close-nav span.right {
		transform: rotate(-45deg) translate(2px);
		-webkit-transform: rotate(-45deg) translate(2px);
		-moz-transform: rotate(-45deg) translate(2px);
	}
}





/* Main Content Section Styles*/
main{
	padding-top: 10%;
}

/*Animated intro*/
.iAm{
	padding-left: 23.5%;
	color: grey;
}

.pm {
	text-align: right;
}
.work {
	padding-left: 10%;
}
.skill{
	padding-left: 35%;
}
.art{
	padding-left: 29.5%;
}
.resume{
	padding-left: 29%;
}
.contact{
	padding-left: 46%;
}

.work,
.skill,
.resume,
.art,
.contact {
	padding-top: 1%;
	margin: 20px;
	display: block;
	color: black;
	position: relative;
	opacity: 0;
}

.navitem {
	padding: 0px 10px;
}


@media only screen and (max-width:1024px) {
	.iAm {
		padding-top: 10%;
		padding-left: 28%;
		color: grey;
	}
	
	.work {
		padding-left: 10%;
	}
	.skill{
		padding-left: 26%;
	}
	.art{
		padding-left: 18%;
	}
	.resume{
		padding-left: 17%;
	}
	.contact{
		padding-left: 38%;
	}

	.work,
	.skill,
	.resume,
	.art,
	.contact {
		padding-top: 1%;
		margin: 30px;
		display: block;
		color: black;
		position: relative;
		opacity: 0;
	}
}


/*All section styles*/
.workhistory,
.skillset,
.artgallery,
.resumedownload,
.contactform {
	position: relative;
	padding-left: 5%;
}

.titleLarge {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 16em;
	font-weight: 900;
	color: #D5D8DC;
	opacity: 0;
}

.titleLarge:hover {
	color: #ABB2B9 ;
}

/* Hero*/

/*Work Section */
.workhistory {
	top: 500px;
	padding-top: 20%;
}

.worktitle {
	padding-top: 15px;
}

.dates {
	font-weight: 400;
}

.largeWork {
	position: absolute;
	bottom: 420px;
	right: 40px;
}


/*Skills*/
.skillset {
	top: 1000px;
	padding-top: 20%;
}

.skilllist {
	display: inline-block;
	margin-top: 10px;
}

ul {
	margin-top: 10px;
}

.largeSkills {
	padding-left: 7%;
}

/*Art*/
.artgallery{
	display: block;
	top: 1400px;
	height: 100vh;
	padding-top: 20%;
}

.tiles {
	display: inline-block;
	height: 30%;
	width: 30%;
	margin: 0px 10px 10px 0px;
}

.tiles:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.tileGallery{
	width: 60%;
	display: inline-block;
}

.largeArt {
	position: absolute;
	bottom: 350px;
	right: 40px;

}



/*modal*/
.modal {
	padding-top: 10px;
    display: none; 
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(255,255,255); 
    background-color: rgba(255,255,255,0.75);
}

.modalcontent {
	padding-left: 20%;
	padding-right: 20%;

}

button {
	display: inline-block;
	margin: 0px 10px 10px 0px;
	padding: 10px 20px;
	background-color: #D5D8DC;
	background: none;
	border: solid 1px black;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

button:hover {
	background-color: lightgrey;
}

.close {
    color: black;
    float: right;
    padding-right: 5%;
    font-size: 1.5em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.artimage {
	display: inline-block;
	width: 100%;
}


img {
	display: none;
	height: 100%;
	width: 100%;
}	

.caption {
	display:none;
	padding-top: 15px;
	padding-bottom: 15px;
}

.active {
	display: inline-block;
}

.thumbs.active {
	opacity: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.thumbs {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 3px;
	opacity: 0.75;
}

.galleryImageandCaption {
	display: block;

}

/*Bio/Resume*/
.resumedownload {
	position: relative;
	top: 2300px;
	padding-top: 20%;
}

.downloadRes {
	font-family: 'Roboto', sans-serif;
	font-size:	1em;
	font-weight: 400;
}




/*Contact Form*/
.contactform {
	display: inline-block;
	position: relative;
	top: 2900px;
	width: 100%;
	height: 100%;
	padding-left: 5%;
	padding-top: 20%;
}

.contactMe,
.letsCollaborate {
	padding-bottom: 20px;
}

.contactFormBox {
	display: inline-block;
	width: 60%;
}

.largeContact {
	display: inline-block;
	font-size: 11em;
	position: absolute;
	right: 40px;
	bottom: 300px;
}

input,
textarea,
label {
	display: block;
	width: 400px;
	margin-top: 10px;
}

.submitemail {
	margin-top: 10px;
	width: 200px;
}

.thanksforemail {
	display: none;
}

/*Footer*/
footer {
	position: relative;
	height: 100px;
	top: 3050px;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 20px;
	background-color: grey;
}

.social {
	display: flex;
	justify-content: space-between;
}

.email,
.socialaccount {
	display: block;
	color: white;
}

.socialbuttontwitter {
	background-image: url("../images/Twitter.png");
	height: 20px;
	width: 20px;
	z-index: 1;
}


.heroImage {
	display: block;
	height: 768px;
	width: 1366px;
}


/*tablet main section styles*/
@media only screen and (max-width: 1024px){
	.workhistory {
	top: 400px;
	}

	.skillset {
	top: 700px;
	}

	.artgallery{
	top: 1000px;
	height: 100vh;
	}

	.resumedownload {
	position: relative;
	top: 1500px;
	}

	.contactform {
	top: 1800px;
	width: 100%;
	height: 100%;
	padding-left: 5%
	padding-top: 30px;
	}

	footer {
	height: 100px;
	top: 1900px;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 20px;
	}



	/*Title changes*/
	.titleLarge {
	font-size: 9em;
	}

	.largeWork {
	bottom: 440px;
	right: 20px;
	}

	.largeSkills {
	padding-left: 7%;
	}

	.largeArt {
	bottom: 520px;
	right: 40px;
	}

	.largeContact {
	font-size: 7em;
	right: 40px;
	bottom: 300px;
	}
} 
